  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #0d6efd;
  }

  #main {
      background: #fff;
      padding: 20px 25px;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      width: 350px;
  }

  #header {
      display: flex;
  }

  input[type="text"] {
      width: calc(100% - 60px);
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      outline: none;
      font-size: 16px;
  }

  #btn {
      padding: 10px 20px;
      background-color: #0d6efd;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-left: 10px;
  }

  #btn:hover {
      background-color: #084298;
  }


  #ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
  }

  li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #dbeafe;
      padding: 10px 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  li span {
      font-size: 14px;
      color: #000;
      flex: 1;
  }

  .del,
  .edit {
      padding: 8px 12px;
      margin: 0px 5px;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      background-color: #0d6efd;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .del:hover,
  .edit:hover {
      background-color: #084298;
  }